.card {
  position: relative;
  display: inline-block;

  &__gallery {
    position: relative;
    display: flex;
    overflow: hidden;

    &--small {
      width: 28.5rem;
      height: 32rem;
    }

    &--large {
      width: 39rem;
      height: 44rem;
    }
  }

  &__img {
    border-radius: 4px;
    // position: relative;
    position: absolute;
    top: 0;
    display: block;
    transition: all 1s;

    &--small {
      width: 28.5rem;
      height: 32rem;
    }

    &--large {
      width: 39rem;
      height: 44rem;
    }

    &--1 {
      transform: translateX(0%);
    }
    &--2 {
      transform: translateX(100%);
    }
    &--3 {
      transform: translateX(200%);
    }
    &--4 {
      transform: translateX(300%);
    }
    &--5 {
      transform: translateX(400%);
    }
  }

  &__heading {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 400;
      color: $color-gray-dark-2;
      margin-bottom: 0.8rem;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $color-gray-dark-2;
    }
  }

  &__price {
    color: $color-gray-dark-1;
    line-height: 1.3;
    font-weight: 700;

    &--small {
      font-size: 2rem;
    }

    &--large {
      font-size: 2.4rem;
    }

    &--new {
      color: $color-secondary;
    }

    &--old {
      display: inline-block;
      margin-left: 1.2rem;
      color: $color-gray-dark-3;

      line-height: 1.5;
      font-weight: 400;
      text-decoration: line-through;
    }

    &--old-small {
      font-size: 1.6rem;
    }
    &--old-large {
      font-size: 1.8rem;
    }
  }

  &__details {
    position: relative;
    width: 100%;
    padding: 1.6rem 1.6rem;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &__form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem 1.6rem 1.6rem;
    box-shadow: $shadow;
    z-index: 100;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }

  &__radio-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .card__btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 21.2rem;

    &--prev {
      left: 1.6rem;
    }

    &--next {
      right: 1.6rem;
    }

    &--small {
      top: 15.2rem;
    }

    &--large {
      top: 21.1rem;
    }
  }

  &__icon-arr {
    @include icon-medium;
  }

  &__btn-wishlist {
    position: absolute;
    right: 1.6rem;
    background-color: $color-white;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: all 0.5s;

    &:hover {
      background-color: $color-gray-light-1;
    }

    &--small {
      top: 27.2rem;
    }

    &--large {
      top: 39.2rem;
    }
  }
}

.wishlist__icon {
  @include icon-small;
  transition: all 0.5s;

  &--filled {
    fill: $color-primary;
  }
}

.btn-wish__icon {
  fill: $color-primary;
}

.cart__price--old--sm {
  font-size: 1.2rem;
  margin-left: 4px;
}

.card__price--sm {
  font-size: 1.6rem;
}

.rating {
  display: flex;
  gap: 0.2rem;
  cursor: pointer;

  &--card {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: $color-gold;

    &--outline {
      fill: $color-gray-dark-5;
    }
  }
}
