.top-categories {
    &__type {
        text-align: center;
        transform: translateY(-6rem);
        z-index: 10;
    }

    &__img {
        width: 39rem;
        height: 39rem;
        border-radius: 4px;
        margin-bottom: 1.6rem;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-gray-dark-2;
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 700;
            transition: all 0.5s;
        }

        &:hover,
        &:active {
            color: rgba($color-gray-dark-2, 0.5);
        }
    }
}
