.blog {
    &__card {
        width: 60rem;
        &--large {
            width: 81rem;
        }
    }

    &__btn {
        align-self: start;
        justify-self: end;
        transform: translateY(1rem);
    }

    &__img {
        display: block;
        width: 60rem;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        &--large {
            width: 81rem;
            border-radius: 4px;
        }
    }

    &__description {
        padding: 2.4rem 2.4rem 2.1rem;
        box-shadow: 0 1.2rem 4rem -1.6rem $color-gray-dark-4;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        &--large {
            padding: 1.6rem 0 0;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 2.4rem;
        order: -1;
    }

    &__item {
        position: relative;

        &:not(:last-child)::after {
            position: absolute;
            content: '';
            top: 0.8rem;
            right: -1.2rem;
            width: 1px;
            height: 1.2rem;
            background-color: $color-gray-dark-3;
            border-radius: 4px;
        }

        &:last-child {
            display: flex;
            align-items: center;
            gap: 0.8rem;
        }
    }

    &__icon {
        @include icon-small($color: $color-gray-dark-3);
    }
}
