.btn {
    display: inline-block;
    font-size: inherit;
    font-weight: 700;
    border: 1px solid $color-primary;
    border-radius: 4px;
    cursor: pointer;

    &--large {
        font-size: 1.6rem;
        padding: 1.6rem 4rem;
    }

    &--medium {
        font-size: 1.4rem;
        padding: 1.3rem 3.2rem;
    }

    &--medium-right {
        position: relative;
        font-size: 1.4rem;
        padding: 1.15rem 3.2rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transform: translateX(-102%);
        z-index: 1000;
    }

    &--small {
        font-size: 1.2rem;
        padding: 1rem 2.4rem;
    }

    &--outline {
        color: $color-primary;
        background-color: transparent;
        transition: all 0.5s;
    }

    &--solid {
        color: $color-white;
        background-color: $color-primary;
        transition: all 0.5s;
    }

    &--outline:hover,
    &--outline:active {
        color: $color-white;
        background-color: $color-primary;

        & .btn__icon {
            fill: $color-white;
        }
    }

    &--solid:hover,
    &--solid:active {
        background-color: $color-primary-hover;
    }

    &--arrow {
        padding-right: 5.6rem;
        position: relative;
    }

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
        fill: $color-primary;
        position: absolute;
        top: 1.4rem;
        right: 3.2rem;
        transition: all 0.5s;
    }

    &--size {
        border: 1px solid $color-gray-dark-4;
        background-color: transparent;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5;
        color: $color-gray-dark-2;
        width: 2.4rem;
        height: 2.4rem;

        &-current {
            border: 1px solid $color-primary;
        }
    }

    &--sale {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;

        .sale__icon-cart {
            @include icon-small($color: $color-white);
        }
    }
}

.btn-color {
    border: 1px solid $color-gray-dark-4;
    background-color: transparent;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    cursor: pointer;

    &-round {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
    }

    &--current {
        border: 1px solid $color-primary;
    }

    &--black {
        background-color: $btn-color-black;
    }

    &--brown {
        background-color: $btn-color-brown;
    }

    &--blue-gray {
        background-color: $btn-color-blue-gray;
    }
}

.btn-round {
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--light {
        background-color: rgba($color-white, 0.5);
    }

    &--dark {
        background-color: $color-primary;
    }
}

.slider {
    &__btn {
        position: absolute;

        &:hover,
        &:focus {
            outline: 1.6rem solid rgba($color-primary, 0.12);
        }

        &--left {
            top: -19rem;
            left: -31.3rem;
        }

        &--right {
            top: -19rem;
            right: -31.3rem;
        }
    }

    &__icon {
        width: 2.4rem;
        height: 2.4rem;

        &--white {
        }
        fill: $color-gray-dark-2;

        &--green {
            fill: $color-white;
        }
    }
}

.btn-arr {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.trend__btns {
    position: absolute;
    top: 2.4rem;
    right: -1.2rem;

    @include btn-flex;
}

.sale__btns {
    @include btn-flex;
}

.store-link {
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        width: 16.2rem;
        height: auto;
    }
}

.store-apple {
    margin-right: 2.4rem;
}

.store-img {
    width: 16.2rem;
    height: auto;
}
