.categories {
    &__types {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-bottom: 18rem;
        text-align: center;
    }

    &__img {
        border-radius: 50%;
        margin-bottom: 2.4rem;
    }

    &__link {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 700;
        text-decoration: none;

        &:link,
        &:visited {
            color: $color-gray-dark-1;
            transition: all 0.5s;
        }

        &:hover,
        &:active {
            color: rgba($color-gray-dark-1, 0.5);
        }
    }
}
