// CHECKBOXES
.checkbox {
    &__input {
        display: none;
    }

    &__label {
        color: $color-gray-dark-2;
        cursor: pointer;
        position: relative;
        padding-left: 2.8rem;

        &--small {
            font-size: 1.4rem;
            line-height: 1.5;
        }
        &--large {
            font-size: 1.6rem;
            line-height: 1.6;
        }
    }

    &__mark {
        width: 1.6rem;
        height: 1.6rem;
        background-color: $color-white;
        border: 1px solid $color-gray-dark-5;
        border-radius: 3px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0.18rem;
        transition: all 0.5s;

        &::after {
            content: '';
            display: block;
            height: 0.8rem;
            width: 1rem;
            position: absolute;
            top: 0.3rem;
            left: 0.2rem;
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M21.707 5.293a1 1 0 0 1 0 1.414l-12 12a1 1 0 0 1-1.414 0l-6-6a1 1 0 1 1 1.414-1.414L9 16.586 20.293 5.293a1 1 0 0 1 1.414 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M21.707 5.293a1 1 0 0 1 0 1.414l-12 12a1 1 0 0 1-1.414 0l-6-6a1 1 0 1 1 1.414-1.414L9 16.586 20.293 5.293a1 1 0 0 1 1.414 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-size: cover;
            mask-size: cover;
            background-color: $color-white;
            opacity: 0;
            transition: opacity 0.5s;
        }
    }

    &__input:checked ~ &__label &__mark {
        background-color: $color-primary;
        border: 1px solid $color-primary;

        &::after {
            opacity: 1;
        }
    }

    &__input:disabled ~ &__label {
        color: rgba($color-gray-dark-2, 0.5);
        cursor: default;
    }

    &__input:disabled ~ &__label &__mark {
        background-color: $color-gray-light-1;
    }
}

// Checkbox button
.tag {
    &__checkbox-container {
        display: flex;
        gap: 1.2rem;
        margin-bottom: 3.2rem;
    }

    &__checkbox-btn {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    &__checkbox-btn-label {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 700;
        color: $color-gray-dark-3;
        padding: 0.55rem 1.6rem;
        border: 1px solid $color-gray-light-4;
        border-radius: 4px;
        cursor: pointer;
    }

    &__checkbox-btn:checked + label {
        color: $color-white;
        background-color: $color-primary;
        border: 1px solid $color-primary;
    }
}
// RADIO BUTTON
// Size
.size {
    &__radio {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        font-size: 1.2rem;
        line-height: 1.5;
        color: $color-gray-dark-2;
        border: 1px solid $color-gray-light-4;
        border-radius: 4px;
        cursor: pointer;
    }

    &__radio:checked ~ &__label {
        border: 1px solid $color-primary;
    }
}

// Radio btn
.radio {
    &__input {
        display: none;
    }

    &__label {
        color: $color-gray-dark-2;
        cursor: pointer;
        position: relative;
        padding-left: 2.8rem;
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: 700;
    }

    &__mark {
        position: absolute;
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        border: 1px solid $color-gray-dark-5;
        border-radius: 50%;
        left: 0;
        top: 0.5rem;
        transition: all 0.5s;

        &::after {
            content: '';
            position: absolute;
            width: 0.8rem;
            height: 0.8rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: $color-primary;
            opacity: 0;
            transition: opacity 0.5s;
        }
    }

    &__input:checked ~ &__label &__mark {
        border: 1px solid $color-primary;

        &::after {
            opacity: 1;
        }
    }

    &__input:disabled ~ &__label {
        color: rgba($color-gray-dark-2, 0.5);
        cursor: default;
    }

    &__input:disabled ~ &__label &__mark {
        background-color: $color-gray-light-1;
    }
}

// Color
.color {
    &__radio {
        display: none;
    }

    &__label {
        position: relative;
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        border: 1px solid $color-gray-light-4;
        border-radius: 50%;
        cursor: pointer;
    }

    &__radio:checked ~ &__label {
        border: 1px solid $color-primary;
    }

    &__type {
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;

        &--black {
            background-color: $btn-color-black;
        }

        &--brown {
            background-color: $btn-color-brown;
        }

        &--blue-gray {
            background-color: $btn-color-blue-gray;
        }

        &--red-dark {
            background-color: $btn-color-red-dark;
        }
    }
}

// INPUT
// Input text
.label {
    display: block;
    margin-bottom: 0.8rem;
    color: $color-gray-dark-2;

    &--small {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    &--medium {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    &--large {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    &--disabled > .label {
        color: $color-gray-dark-3;
    }
}

.input {
    display: block;
    font-family: inherit;
    border: 1px solid $color-gray-light-4;
    border-radius: 4px;
    color: $color-gray-dark-2;
    width: 100%;

    &__box {
        margin-bottom: 2rem;
        position: relative;

        &--large {
            margin-bottom: 2.4rem;

            &:nth-child(odd) {
                margin-right: 3rem;
            }
        }
    }

    &--small {
        font-size: 1.2rem;
        line-height: 1.5;
        padding: 0.9rem 1.2rem;
    }

    &--medium {
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 1.1rem 1.6rem 1.2rem;
    }

    &--large {
        font-size: 1.6rem;
        line-height: 1.6;
        padding: 1.3rem 1.6rem;
    }

    &--padding-small {
        padding-right: 3.2rem;
    }

    &--padding-medium {
        padding-right: 3.6rem;
    }

    &--padding-large {
        padding-right: 4rem;
    }

    &:focus {
        outline: none;
        border: 1px solid rgba($color-primary, 0.4);
        box-shadow: 0px 80px 80px -20px rgba(23, 105, 106, 0.08),
            0px 30px 24px -10px rgba(23, 105, 106, 0.05),
            0px 12px 10px -6px rgba(23, 105, 106, 0.04),
            0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    }

    ::-webkit-input-placeholder {
        font-size: inherit;
        color: $color-gray-dark-4;
    }

    &:invalid:focus {
        border: 1px solid $color-secondary;
        box-shadow: none;
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &--small {
            right: 1.2rem;
            top: 3.6rem;
        }
        &--medium {
            right: 1.6rem;
            top: 4.5rem;
        }
        &--large {
            right: 1.6rem;
            top: 5rem;
        }
    }

    &__icon {
        fill: $color-gray-dark-2;
        &--small {
            width: 1.6rem;
            height: 1.6rem;
        }
        &--medium {
            width: 1.6rem;
            height: 1.6rem;
        }
        &--large {
            width: 2rem;
            height: 2rem;
        }

        &--light {
            fill: $color-gray-dark-4;
        }
    }
}

// Select
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;

    &__btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: default;
    }
}

// Sort
.sort {
    &__form {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        position: relative;
    }
    &__label {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.6;
        color: $color-gray-dark-2;
    }

    &__select {
        position: relative;
        font-family: inherit;
        font-size: 1.4rem;
        line-height: 1.5;
        border: 1px solid $color-gray-light-4;
        border-radius: 4px;
        color: $color-gray-dark-2;
        width: 17rem;
        padding: 1.1rem 1.6rem 1.2rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            outline: none;
            border: 1px solid $color-primary;
        }
    }

    &__btn {
        border: none;
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        top: 1.4rem;
        right: 1.6rem;
        background-color: transparent;
    }
}

// Search input

.search {
    flex: 0 0 38rem;
    margin-right: 4.8rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--sidebar {
        padding-bottom: 3.2rem;
        border-bottom: 1px solid $color-gray-light-3;
    }

    &__input {
        font-family: inherit;
        color: $color-gray-dark-2;
        font-size: 1.4rem;
        width: 100%;
        padding: 1.2rem 3.6rem 1.2rem 1.6rem;
        border: 1px solid $color-gray-light-4;
        border-radius: 4px;

        &:focus {
            outline: none;
            border: 1px solid rgba($color-primary, 0.4);
        }

        &::-webkit-input-placeholder {
            color: $color-gray-dark-4;
            font-weight: 400;
        }
    }

    &__button {
        position: absolute;
        top: 1.4rem;
        right: 1.6rem;
        border: none;
        background-color: $color-white;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
        fill: $color-gray-dark-2;
    }
}

// Grid Form
.form {
    &__header-grid {
        grid-column: 1 / -1;
        justify-self: center;
    }

    &__btn-grid {
        grid-column: 1 /-1;
        justify-self: center;
    }

    &__textarea-box {
        grid-column: 1 / -1;
        margin-bottom: 4.8rem;
    }

    &__textarea {
        resize: none;
        height: 10rem;
    }
}
