.modal {
    position: relative;
    padding: 4.8rem;
    margin: 0 auto;
    border: 1px solid $color-gray-light-3;
    border-radius: 4px;

    &--small {
        position: relative;
        width: 48.6rem;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        color: $color-gray-dark-1;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: center;
        color: $color-gray-dark-3;
    }

    &__check {
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            font-size: 1.4rem;
            line-height: 1.5;
            color: $color-primary;
            transition: all 0.5s;
        }

        &:hover,
        &:active {
            color: rgba($color-primary, 0.8);
        }
    }

    &__cta {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $color-gray-dark-2;
    }

    &__form {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -4.8rem;
            height: 1px;
            width: 48.5rem;
            background-color: $color-gray-light-3;
        }
    }

    &__social {
        padding-top: 2.4rem;
    }

    &__social-text {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $color-gray-dark-3;
        text-align: center;
    }

    &__list-social {
        list-style: none;
        display: flex;
    }

    // Modal Size chart
    &--size {
        position: relative;
        border-radius: 4px;
        margin: 0 auto;
        border: $border;
        width: 87rem;
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;

        .size {
            &__wrapper {
                padding-left: 4.8rem;
                padding-right: 4.8rem;
            }

            &__tabs {
                display: flex;
                gap: 1.2rem;
                align-items: center;
                justify-content: center;
                margin-bottom: 2.4rem;
            }

            &__table {
                margin-bottom: 3.2rem;
            }

            &__text {
                font-size: 1.6rem;
                line-height: 1.5;
                font-weight: 700;
                color: $color-gray-dark-2;
            }

            &__units {
                display: flex;
                gap: 1.2rem;
            }

            &__choice {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.4rem;
                padding: 3.2rem 0 2.4rem;
                border-top: $border;
            }
        }
    }
}
