.grid {
    position: relative;
    display: grid;

    &--col-2 {
        grid-template-columns: repeat(2, min-content);
        column-gap: 3rem;
    }

    &--col-2-fix {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    &--col-3 {
        grid-template-columns: repeat(3, min-content);
        column-gap: 3rem;
    }

    &--col-3-fix {
        grid-template-columns: 18rem 54rem 9rem;
    }

    &--col-4 {
        grid-template-columns: repeat(4, min-content);
    }

    &--row-2 {
        grid-template-rows: repeat(2, min-content);
    }

    &--row-3 {
        grid-template-rows: repeat(3, min-content);
    }

    &--row-3-fix {
        grid-template-rows: 12rem repeat(2, min-content);
    }
}
