.container {
    width: 123rem;
    margin: 0 auto;
}

.u-margin-right-medium {
    margin-right: 2.4rem;
}

.u-margin-bottom-small-1 {
    margin-bottom: 1.2rem;
}

.u-margin-bottom-small-2 {
    margin-bottom: 1.6rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2.4rem;
}

.u-heading-break-small {
    width: 31.7rem;
}

.u-heading-break-medium {
    width: 36.2rem;
}
