.account {
  padding: 4rem 0 0;
  display: flex;
  gap: 13.5rem;

  &__block {
    width: 81rem;
    position: relative;
    padding-bottom: 18rem;
  }

  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__wishlist-container {
    display: flex;
    gap: 3rem;
  }

  &__viewed {
    display: grid;
    row-gap: 6rem;
    column-gap: 3rem;
    grid-template-columns: repeat(auto-fill, 39rem);
  }
}
