.product {
  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.2rem;
  }

  &__card {
    position: relative;
    margin-top: 3.2rem;
    margin-bottom: 18rem;
  }

  &__article {
    position: absolute;
    top: 1.6rem;
    right: 0;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 700;
    color: $color-gray-dark-3;

    span {
      font-weight: 400;
    }
  }

  &__tabs {
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 1.2rem;
    margin: 3.2rem 0 2rem;
  }

  &__gallery {
    position: relative;
  }

  &__img {
    display: block;
    border-radius: 4px;

    &--current {
      outline: 1px solid $color-primary;
    }

    &--sm {
      width: 10.4rem;
      height: 10.4rem;
    }

    &--lg {
      width: 60rem;
      height: 60rem;
      margin-bottom: 2rem;
    }
  }

  &__img-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    cursor: pointer;
  }

  &__img-video {
    position: relative;
  }

  &__play-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 10.4rem;
    height: 10.4rem;
    border-radius: 4px;
    background-color: rgba($color-gray-dark-1, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__slider-btn {
    position: absolute;
    top: 27.6rem;

    &:hover,
    &:active {
      background-color: transparent;
    }

    &--left {
      left: 3.2rem;
    }

    &--right {
      right: 3.2rem;
    }
  }

  &__descript {
    border-top: $border;
    padding-top: 3.2rem;
    display: flex;
    justify-content: space-between;
  }

  &__btns {
    @include btn-flex;
    transform: translateY(1rem);
  }

  &__sidebar {
    flex-basis: 52.5rem;
  }

  &__price {
    display: flex;
    gap: 3.4rem;
    align-items: center;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-end;
  }

  &__rating-amount {
    font-size: 1.4rem;
    line-height: 1.5;
    color: $color-gray-dark-3;
  }

  &__color {
    margin-bottom: 2.4rem;
  }

  &__heading {
    font-size: 1.4rem;
    line-height: 1.5;
    color: $color-gray-dark-2;
  }

  &__color-switcher {
    list-style: none;
    display: flex;
    gap: 0.8rem;
    margin-top: 1.2rem;
    align-items: center;
  }

  &__radio-item {
    &:last-child {
      margin-left: 0.8rem;
    }
  }

  &__color-type {
    font-size: 1.4rem;
    line-height: 1.5;
    color: $color-gray-dark-4;
  }

  .size__select {
    position: relative;
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;

    select {
      flex-basis: 34.8rem;
    }
  }

  .select__arrow {
    position: absolute;
    top: 1.4rem;
    right: 19.3rem;
    width: 1.6rem;
    height: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .placeholder {
    color: $color-gray-dark-4;
  }

  .size-chart {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    letter-spacing: 0.5px;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: inherit;
    color: $color-gray-dark-2;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .size__btns {
    display: flex;
    gap: 2.4rem;
    margin-top: 3.2rem;
  }

  &__accordion {
    list-style: none;
    margin-top: 4.8rem;
    margin-bottom: 2rem;

    .accordion {
      &__item {
        position: relative;
        border-bottom: $border;
        padding-bottom: 2rem;

        &:not(:first-child) {
          padding-top: 2rem;
        }
      }

      &__category {
        font-size: 1.6rem;
        line-height: 1.6n;
        font-weight: 700;
        margin-bottom: 1.6rem;
      }

      &__btn {
        position: absolute;
        top: 0;
        right: 0;

        &--mg {
          top: 2rem;
        }
      }

      &__text {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $color-gray-dark-2;

        &--bold {
          font-weight: 700;
        }
      }
      &__text-list {
        margin-top: 1.2rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      &__text-item {
        padding-left: 2rem;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 8.5px;
          left: 0;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: $color-primary;
        }
      }
    }
  }

  &__sharing {
    list-style: none;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    width: 15.4rem;

    .sharing {
      &__heading {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.6;
      }
    }
  }

  &__payment {
    list-style: none;
    margin-top: 6rem;
    display: flex;
    gap: 2.4rem;

    .payment {
      &__img {
        width: 12rem;
        height: 6.4rem;
        border-radius: 4px;
      }
    }
  }

  &__details {
    gap: 10.5rem;
    .details {
      &__wrapper {
        &:not(:last-child) {
          border-bottom: $border;
          padding-bottom: 2.4rem;
        }
        &:not(:first-child) {
          padding-top: 2.4rem;
        }
      }
      &__heading {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 1.6rem;
      }

      &__text {
        font-size: 1.6rem;
        line-height: 1.6;
        color: $color-gray-dark-2;

        &--margin {
          margin-bottom: 2rem;
        }
      }
      &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
      }

      &__item {
        &--bullet {
          padding-left: 2rem;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $color-primary;
          }
        }

        &--icon {
          display: flex;
          gap: 1.6rem;
          align-items: center;
        }
      }

      &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-gray-dark-3;
      }
    }
  }

  &__reviews {
    .reviews {
      flex-basis: 73.5rem;

      &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8rem;
      }

      &__heading {
        font-size: 3.2rem;
        font-weight: 900;
        line-height: 1.3;
        margin-bottom: 2rem;
      }

      &__text {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $color-gray-dark-3;
        margin-top: 2rem;
      }

      &__breakdown {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
      }

      &__progress {
        display: flex;
        gap: 1.6rem;
        align-items: center;
      }

      &__score,
      &__count {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $color-gray-dark-3;
      }

      &__score {
        display: flex;
        align-items: center;
        gap: 2px;
      }

      &__progres-bg {
        position: relative;
        width: 35.6rem;
        height: 4px;
        background-color: $color-gray-light-3;
        border-radius: 4px;
      }

      &__progres-bar {
        display: inline-block;
        height: 4px;
        background-color: #333;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        &--5 {
          background-color: $color-third;
          width: 31.2rem;
        }

        &--4 {
          background-color: $color-green;
          width: 17rem;
        }

        &--3 {
          background-color: $color-yellow;
          width: 8.6rem;
        }

        &--2 {
          background-color: $color-gold;
          width: 8.6rem;
        }

        &--1 {
          background-color: $color-secondary;
          width: 8.6rem;
        }
      }

      &__toolbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
      }

      &__btn {
        font-size: 1.4rem;
        font-weight: 700;
        padding: 1.2rem 4.05rem;
      }

      &__pagination {
        transform: translateX(40%);
      }
    }
  }
  ///////////////////////////////////////////////
  ///////////////////////////////////////////////
  /////////////////////////////////////////////////////
  &__look {
    margin-bottom: 10rem;
    background-color: $color-white;
  }

  &__look-container {
    display: flex;
    gap: 13.5rem;
  }

  &__look-img {
    display: inline-block;
    width: 49.5rem;
    height: 60rem;
    border-radius: 4px;
  }

  &__slider {
    display: flex;
    gap: 1.2rem;
    position: absolute;
    bottom: 10.7rem;
    left: 50%;
    transform: translatex(-50%);
  }

  &__btn-slide {
    width: 3rem;
    height: 0.3rem;
    border: none;
    border-radius: 3px;
    background-color: $color-gray-dark-5;
    &--current {
      background-color: $color-gray-dark-2;
    }
  }

  &__list {
    display: flex;
    gap: 3rem;
    position: relative;
  }

  &__interest {
    padding-top: 8rem;
    padding-bottom: 12rem;
    background-color: $color-gray-light-3;
  }

  &__viewed {
    margin-top: 10rem;
    margin-bottom: 18rem;
  }

  &--none {
    display: none;
  }
}

.play-icon {
  fill: $color-white;
  width: 3.2rem;
  height: 3.2rem;
}
