@mixin btn-flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    grid-column: 3 / -1;
    justify-self: end;
}

@mixin card-grid {
    &__card-1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    &__card-2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    &__card-3 {
        grid-row: 2 / 3;
        grid-column: 3 / -1;
    }
}

@mixin icon-small($color: $color-gray-dark-2) {
    width: 1.6rem;
    height: 1.6rem;
    fill: $color;
}

@mixin icon-medium($color: $color-gray-dark-2) {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color;
}

@mixin icon-large($color: $color-primary) {
    width: 4.8rem;
    height: 4.8rem;
    fill: $color;
}
