// COLORS

$color-primary: #17696a;
$color-primary-hover: #145c5d;
$color-secondary: #ff4242;
$color-third: #03cea4;
$color-gray-dark-1: #1e212c;
$color-gray-dark-2: #424551;
$color-gray-dark-3: #787a80;
$color-gray-dark-4: #9a9ca5;
$color-gray-dark-5: #b3b7bc;
$color-gray-light-1: #f4f5f6;
$color-gray-light-2: #e5e5e5;
$color-gray-light-3: #e5e8ed;
$color-gray-light-4: #d7dadd;
$color-gray-light-5: #dadbdd;
$color-white: #fff;
$color-gold: #f89828;

// BTN COLORS

$btn-color-black: #000;
$btn-color-brown: #874e19;
$btn-color-yellow: #fcd164;
$btn-color-red: #f75151;
$btn-color-blue-gray: #c0dded;
$btn-color-blue-dark: #0c2c7e;
$btn-color-beige: #d8c1ad;
$btn-color-gray: #9a9494;
$btn-color-purple: #a27ac9;
$btn-color-green: #67ba92;
$btn-color-orange: #fb9620;
$btn-color-white: #f1f1f1;

// SHADOW

$shadow: 0rem 8rem 8rem -2rem rgba(49, 50, 51, 0.16);

$divider: linear-gradient(
    rgba($color-gray-light-5, 0) 0%,
    rgba($color-gray-light-5, 0.5) 20%,
    rgba($color-gray-light-5, 1) 50%,
    rgba($color-gray-light-5, 0.5) 80%,
    rgba($color-gray-light-5, 0) 100%
);
