// COLORS

$color-primary: #17696a;
$color-secondary: #ff4242;
$color-third: #03cea4;
$color-gray-dark-1: #1e212c;
$color-gray-dark-2: #424551;
$color-gray-dark-3: #787a80;
$color-gray-light-1: #f4f5f6;
$color-gray-light-2: #e5e5e5;
$color-gray-light-3: #e5e8ed;
$color-gray-light-4: #d7dadd;
$color-white: #fff;
