// COLORS

$color-primary: #17696a;
$color-primary-hover: #145c5d;
$color-secondary: #ff4242;
$color-third: #03cea4;
$color-gray-dark-1: #1e212c;
$color-gray-dark-2: #424551;
$color-gray-dark-3: #787a80;
$color-gray-dark-4: #9a9ca5;
$color-gray-dark-5: #b3b7bc;
$color-gray-light-1: #f4f5f6;
$color-gray-light-2: #e5e5e5;
$color-gray-light-3: #e5e8ed;
$color-gray-light-4: #d7dadd;
$color-gray-light-5: #dadbdd;
$color-gray-light-6: #f4f5f7;
$color-white: #fff;
$color-gold: #f89828;
$color-blue: #5a87fc;
$color-yellow: #f2ea2b;
$color-green: #1fdf58;

// BTN COLORS

$btn-color-black: #000;
$btn-color-brown: #874e19;
$btn-color-yellow: #fcd164;
$btn-color-yellow-light: #fede41;
$btn-color-red: #f75151;
$btn-color-red-dark: #6b3a44;
$btn-color-blue-gray: #c0dded;
$btn-color-blue-dark: #0c2c7e;
$btn-color-beige: #d8c1ad;
$btn-color-pink: #e0aea2;
$btn-color-gray: #9a9494;
$btn-color-purple: #a27ac9;
$btn-color-green: #67ba92;
$btn-color-orange: #fb9620;
$btn-color-white: #f1f1f1;

// SHADOW

$shadow: 0rem 8rem 8rem -2rem rgba(49, 50, 51, 0.16);

$shadow-1: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);

$divider: linear-gradient(
    rgba($color-gray-light-5, 0) 0%,
    rgba($color-gray-light-5, 0.5) 20%,
    rgba($color-gray-light-5, 1) 50%,
    rgba($color-gray-light-5, 0.5) 80%,
    rgba($color-gray-light-5, 0) 100%
);

// border
$border: 1px solid #e5e8ed;
