.account {
    &-main {
        padding: 4rem 0 18rem;
        display: flex;
        gap: 13.5rem;
    }

    &__profile {
        width: 81rem;
        position: relative;
    }

    &__form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
}
