.container {
  width: 123rem;
  margin: 0 auto;
}

.u-margin-right-medium {
  margin-right: 2.4rem;
}

.u-margin-top-medium {
  margin-top: 2.4rem !important;
}

.u-margin-bottom-small-1 {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-small-2 {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.4rem !important;
}

.u-margin-bottom-medium-2 {
  margin-bottom: 3.2rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 4.8rem !important;
}

.u-margin-top-large {
  margin-top: 4.8rem;
}

.u-padding-top {
  padding-top: 0 !important;
}

.u-heading-break-small {
  width: 31.7rem;
}

.u-heading-break-medium {
  width: 36.2rem;
}

.u-width {
  width: 18rem;
}

.u-no-margin {
  margin: 0 !important;
}

.u-order-first {
  order: -1;
  margin-right: 2rem;
  text-align: right;
}

.u-right {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}
